@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* body{
    background: #000;
} */
.text{
    padding: 0 5%;
}
.max-w-sm{
    /* padding: 10px; */
    width: 100%;
    height: 60ch;
}
.max-w-sm .Img{
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.max-w-sm .Img .user-ex{
    width: 420px;
    height: 30vh!important;
}